<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD COUPONS</title>
    <link rel="stylesheet" href="/css/adminCss/products.css">
    <link rel="stylesheet" href="/css/adminCss/main.css">
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/images/others/Designer.png" alt="" width="50%" height="80%" >
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">DASHBOARD</li>
                    <li onclick="window.location.href='/users'">USERS</li>
                    <li onclick="window.location.href='/products'">PRODUCTS</li>
                    <li onclick="window.location.href='/category'">CATEGORY</li>
                    <li onclick="window.location.href='/coupon'" style="background-color: red;">COUPONS</li>
                    <li onclick="window.location.href='/orders'">ORDERS</li>
                    <li onclick="window.location.href='/banner'">BANNERS</li>
                </ul>
            </div>
            <div class="content_part">

                <form action="" method="post">
                    <div class="frame">
                        <div class="coupon_gap_div">
                            <div class="coupon_div">

                                <div class="form-group">
                                    <label for="couponName">Coupon Name</label>
                                    <input type="text" id="couponName" name="couponName" placeholder="Enter Coupon Name">
                                </div>
                                <div class="form-group">
                                    <label for="couponDiscount">Coupon Discount</label>
                                    <input type="text" id="couponDiscount" name="couponDiscount" placeholder="Enter Coupon Discount">
                                </div>
                                <div class="form-group">
                                    <label for="minOrderAmount">Minimum Order Amount</label>
                                    <input type="tel" id="minOrderAmount" name="minOrderAmount" placeholder="Enter Minimum Order Amount">
                                </div>
                                <div class="form-group">
                                    <label for="maxOrderAmount">Maximum Order Amount</label>
                                    <input type="tel" id="maxOrderAmount" name="maxOrderAmount" placeholder="Enter Maximum Order Amount">
                                </div>
                                <div class="form-group">
                                    <label for="startingDate">Starting Date</label>
                                    <input type="date" id="startingDate" name="startingDate">
                                </div>
                                <div class="form-group">
                                    <label for="endingDate">Ending Date</label>
                                    <input type="date" id="endingDate" name="endingDate">
                                </div>

                                <button type="submit">Create Coupon</button>

                            </div>

                        </div>
                    </div>
                </form>

                         
            </div>
        </div>
    </div>
</body>
</html>