<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD CATEGORY</title>
    <link rel="stylesheet" href="/css/adminCss/products.css">
    <link rel="stylesheet" href="/css/adminCss/main.css">
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/images/others/Designer.png" alt="" width="50%" height="80%" >
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">DASHBOARD</li>
                    <li onclick="window.location.href='/users'">USERS</li>
                    <li onclick="window.location.href='/products'">PRODUCTS</li>
                    <li onclick="window.location.href='/category'" style="background-color: red;">CATEGORY</li>
                    <li onclick="window.location.href='/coupon'">COUPONS</li>
                    <li onclick="window.location.href='/orders'">ORDERS</li>
                    <li onclick="window.location.href='/banner'">BANNERS</li>
                </ul>
            </div>
            <div class="content_part">

                <form action="/add-category" method="post">
                    <div class="frame">
                        <div class="category_gap_div">
                            <div class="category_div">

                                <div class="category_img_div">      
                                    <div class="form-group img_centr">
                                        <div class="category_image_space">
                                            <img src="" alt="">
                                        </div>
                                       <div class="category_image_buttn">
                                          Choose Image
                                        <input type="file" id="productImage" name="productImage">
                                       </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="categoryName">Category Name</label>
                                    <input type="text" id="categoryName" name="categoryName" placeholder="Enter category name">
                                </div>
                                <div style="display:flex; justify-content: center;">
                                    <button type="submit">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>  

                         
            </div>
        </div>
    </div>
</body>
</html>