<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATEGORY</title>
    <link rel="stylesheet" href="/css/adminCss/products.css">
    <link rel="stylesheet" href="/css/adminCss/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/images/others/Designer.png" alt="" width="50%" height="80%" >
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">DASHBOARD</li>
                    <li onclick="window.location.href='/users'">USERS</li>
                    <li onclick="window.location.href='/products'">PRODUCTS</li>
                    <li onclick="window.location.href='/category'" style="background-color: red;">CATEGORY</li>
                    <li onclick="window.location.href='/coupon'">COUPONS</li>
                    <li onclick="window.location.href='/orders'">ORDERS</li>
                    <li onclick="window.location.href='/banner'">BANNERS</li>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Categories</p>
                    <button class="add_product_btn_admin" onclick="window.location.href='/add-category'">Add Category</button>
                </div>
                
                <div class="product_list">

                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Quantity</th>
                                    <th>Edit</th>                                       
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1466355DDGGDRFG34</td>
                                    <td>Category</td>
                                    <td>1200</td>
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                          </svg>
                                    </td>
                                    <td>
                                        <i class="bi bi-trash-fill"></i>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
</body>
</html>