<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DETAILS</title>
    <link rel="stylesheet" href="/css/adminCss/products.css">
    <link rel="stylesheet" href="/css/adminCss/main.css">
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">DASHBOARD</li>
                    <li onclick="window.location.href='/users'" style="background-color: red;">USERS</li>
                    <li onclick="window.location.href='/products'">PRODUCTS</li>
                    <li onclick="window.location.href='/category'">CATEGORY</li>
                    <li onclick="window.location.href='/coupon'">COUPONS</li>
                    <li onclick="window.location.href='/orders'">ORDERS</li>
                    <li onclick="window.location.href='/banner'">BANNERS</li>
                </ul>
            </div>
            <div class="content_part">
            
                <div class="user_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Users</p>
                </div>
                <div class="user_list">
                    <div class="user_table">
    
                        <table>
                           <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Reg.Date</th>
                                <th>Orders</th>
                                <th>Action</th>
                            </tr>
                           </thead>
         
                           <tbody>
                            <tr>
                                <td>1</td>
                                <td>12234067456475647564700785</td>
                                <td>User</td>
                                <td>user@gmail.com</td>
                                <td>9090909090</td>
                                <td>24/01/2024</td>
                                <td>0</td>
                                <td> <i class="bi bi-trash-fill"></i> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1223458rt4647094748</td>
                                <td>User</td>
                                <td>user@gmail.com</td>
                                <td>9090909090</td>
                                <td>24/01/2024</td>
                                <td>0</td>
                                <td> <i class="bi bi-trash-fill"></i> </td>
                            </tr>
                            
                           </tbody>
        
        
                       </table>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</body>
</html>