.header {
    width: 100vw;
    height: 2rem;
  }

  .asterisk{
    font-weight: bolder;
    color: black;
    font-family: "Open Sans", sans-serif;
  }


  .topheader {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .topheadingimgone img {
    width: 2rem;
    height: 1rem;
    flex-shrink: 0;
  }
  .topheadingimgtwo img {
    width: 0.75rem;
    height: 1rem;
    flex-shrink: 0;
  }
  .topheaderone {
    justify-content: flex-end;
    /* border-right: 0.8px solid rgba(0, 255, 0, 0.05); */
    /* background: linear-gradient(
      44deg,
      #111216 -4.62%,
      rgba(91, 99, 120, 0) 804.71%
    ); */
    background-color: transparent;
  }
  .topheaderone p {
    padding-left: 0.75rem;
    padding-right: 1.25rem;
  }
  .topheadertwo {
    justify-content: flex-start;
    background: linear-gradient(
      298deg,
      #111216 -34.19%,
      rgba(91, 99, 120, 0) 1164.24%
    );
    padding-left: 1.25rem;
  }
  .topheadertwo p {
    padding-left: 0.5rem;
  }
  .topheadingimg {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Inter;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .topheadingimgone {
    justify-content: flex-end;
  }
  .topheadingimgtwo {
    justify-content: flex-start;
  }
  
  .mobilenavigationList {
    display: none;
    position: fixed;
    width: 75vw;
    height: 100vh;
    background-color: blue;
    z-index: 2;
    top: 0;
    left: -100%;
    padding: 94px 50px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    transition: left 0.4s ease-in-out;
  }
  .mobilenavigationList.active {
    left: 0;
  }
  .mobilenavigation.active {
    position: fixed;
    z-index: 4;
  }
  .mobilenavigation {
    display: none;
    margin-right: 20px;
  }
  .navigation {
    width: 100vw;
    height: 62px;
  }
  .hamburger {
    position: relative;
    background: transparent;
    border: transparent;
    width: 30px;
    height: 20px;
    z-index: 2;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    margin: 10px 0;
    background: white;
    transform-origin: center center;
    transition: all 0.2s linear 0.1s;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(11.5px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-11.5px) rotate(-45deg);
  }
  .logo svg {
    height: 2rem;
  }
  .navigationnavbar ul li {
    position: relative;
    margin-left: 2rem;
  }
  .navigationnavbar ul li:focus-within::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -3px;
    background-color:  #0c0808;
  }
  .navigationnavbar ul li:last-child {
    margin-right: 2rem;
  }
  .navigationnavbar ul li a {
    color: black;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .useroptions ul li {
    margin-left: 1.3rem;
  }
  .useroptions ul li a svg {
    width: 20px;
    height: 20px;
  }
  .navigation {
    padding: 0 11.5%;
  }
  .hamburger.active span {
    background-color: #000;
  }
  .mobilenavigationList ul li a {
    color: #000;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mobilenavigationList ul {
    width: 100%;
    height: 100%;
  }
  .mobilenavigationList h2 {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
  }
  .mobilenavigationList ul li {
    border-bottom: 1pt solid #e0e0e0;
    padding: 8px 0;

  }
  .mobilenavigationList ul li a:focus {
    color:  #0c0808;
  }
  .mobilenavigationList ul {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 2% 0 0;
  }
  .mobilenavigationList ul::-webkit-scrollbar {
    width: 15px;
  }
  .mobilenavigationList ul::-webkit-scrollbar-thumb {
    background-color:  #0c0808;
    border-radius: 10px;
  }
  .mobilenavigationList ul::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: none;
  }