/*---------- font family ----------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lemon&family=Ubuntu:wght@300;400;500;700&display=swap");
/*---------- end of font family ----------*/

*::after,
*::before,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Ubuntu;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  margin: 0;
}
.row > * {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/*---------- BS var ----------*/
:root {
  --bs-body-bg: transparent;
  --bs-border-color: rgba(255, 255, 255, 0.4);
  --bs-accordion-btn-focus-border-color: transparent;
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button::after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.3258L8.67417 11.3258V20H11.3258L11.3258 11.3258L20 11.3258V8.67418L11.3258 8.67417L11.3258 8.9407e-07L8.67418 0L8.67417 8.67417L0 8.67418V11.3258Z' fill='%2300FF00'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
}
.accordion-button:not(.collapsed)::after {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.3258L8.67417 11.3258V20H11.3258L11.3258 11.3258L20 11.3258V8.67418L11.3258 8.67417L11.3258 8.9407e-07L8.67418 0L8.67417 8.67417L0 8.67418V11.3258Z' fill='%2300FF00'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
}
/*---------- end of BS var ----------*/

/*---------- header ----------*/

/*---------- end of header ----------*/

/*---------- main COntent ----------*/
.main {
  padding: 3% 4%;
}
.mainContainer {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.cartHead {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid #e0e0e0;
}
.cartHead h2 {
  color: #000;
  font-family: Ubuntu;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentDiv {
  width: 100%;
  height: 100%;
}
.items {
  width: 80%;
  min-width: -webkit-fill-available;
  height: 11.5rem;
  border: 1px solid #e0e0e0;
  padding: 1.25rem;
  margin-bottom: 2rem;
}
.itemImg {
  width: 30%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(75, 73, 85, 0.1) 0%,
    rgba(75, 73, 85, 0.1) 100%
  );
}
.itemImg img {
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productDetails {
  height: 100%;
}
.productDetails h2 {
  color: #000;
  font-family: Ubuntu;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.75rem;
}
.quandity div {
  width: 36px;
  height: 25px;
  border: 1px solid #e0e0e0;
  background-color: white;
  margin-bottom: 0.75rem;
}
.quandity div i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  object-fit: contain;
}
.quandity div:first-child,
.quandity div:last-child {
  width: 24px;
  cursor: pointer;
  background-color: #eee;
}
#qty {
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}
.color {
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.cName {
  text-transform: capitalize;
  color: #000;
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.2rem;
}
.price {
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  font-family: Ubuntu;
}
.price p:nth-child(1) {
  color: #212121;
  font-size: 1.125rem;
  font-weight: 700;
}
.price p:nth-child(2) {
  color: #3cb77c;
  font-size: 0.75rem;
  font-weight: 500;
}
.deleteBtn {
  top: 14px;
  right: 14px;
}
.deleteBtn svg {
  width: 13px;
  height: 17px;
}
.coupons {
  margin-bottom: 2rem;
}
.coupons input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.coupons input {
  outline: none;
  width: 100%;
  border: 1px solid #e0e0e0;
  background: #fff;
  height: 2.5rem;
  padding: 0.5rem;
}
.coupons button {
  outline: none;
  padding: 0.5rem;
  height: 2.5rem;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: rgba(238, 238, 238, 0.93);
  color: #424242;
  font-family: Ubuntu;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.input {
  width: 100%;
}
.cartHead svg {
  width: 24px;
  height: 24px;
}
.orderSummary {
  margin-left: auto;
  width: 80%;
  border: 1px solid #e0e0e0;
  background: #fff;
  margin-bottom: 2rem;
}
.orderHeading {
  padding: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
}
.orderHeading h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.orderContent {
  padding: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
  font-family: Ubuntu;
  font-style: normal;
  line-height: normal;
}
.orderContent div {
  margin-bottom: 1.75rem;
}
.orderContent div:last-child {
  margin-bottom: 0;
}
.commonText {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  font-weight: 400;
}
.commonSub {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
}
.ship p:nth-child(2) {
  color: #3cb77c;
}
.tPrice {
  padding: 1.2rem;
}
.tPrice p {
  font-size: 1.25rem;
  font-weight: 500;
}
.deleviryContent {
  padding: 2rem;
}
.chooseAdd {
  border: 1px solid #e0e0e0;
  padding: 2rem 1.5rem;
}
.existingAddress {
  width: 65%;
}
.existingAddress p {
  color: rgba(0, 0, 0, 0.75);
  font-family: Ubuntu;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button {
  color: #000;
  font-family: Ubuntu;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: transparent;
  outline: none;
  background-color: #0f0;
  padding: 0.4rem 1.25rem;
  top: 20px;
  right: 20px;
}
.phone {
  width: max-content;
}
.checkOut {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 12vh;
  border: 1px solid #e0e0e0;
  margin-bottom: 2rem;
  padding: 0 3%;
}
.checkOut button {
  width: 10rem;
  border: transparent;
  outline: transparent;
  color: #000;
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
  background-color: #0f0;
  padding: 1rem;
}
.cartItems{
  padding: 1.5rem 1.8rem;
  border-bottom: 1px solid #E0E0E0;
}
.cartItems img{
  width: 86px;
  height: 86px;
  object-fit: contain;
}
.cartBody{
  min-height: 50vh;
}
.textOrder h2{
  color: #000;
  font-family: Ubuntu;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.textOrder p{
  color: rgba(0, 0, 0, 0.40);
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.textOrder span{
  color: #000;
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.textOrder p:last-child{
  color: #000;
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cancelBtn{
  border: transparent;
  outline: transparent;
  width: 5.27438rem;
  height: 1.5625rem;
  border-radius: 0.25rem;
  background: #000;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.margin{
  margin-right: 3rem;
}
.statusCircle{
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-radius: 100%;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.50);
}
.statusOrder{
  color: #000;
  font-family: Ubuntu;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lPrice{
  color: #000;
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.statusDele{
  color: #000;
  background: #0F0;
}
.statusDeleText{
  border-color: #0f0;
}
.invoice{
  border: transparent;
  border-radius: 0.25rem;
  outline: transparent;
}
.marginRes{
  margin-right: 3rem;
}
.ODhead{
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #e0e0e0;
}
.Last{
  border-bottom: 1px solid #e0e0e0;
}
.ODhead p{
  font-family: Ubuntu;
  font-weight: 400;
  font-size: small;
  color: rgba(0, 0, 0, 0.65);
}
.ODhead h2{
  font-size: medium;
}
.ODhead:last-child{
  border-bottom: none;
}
.sDetails{
  border-top: 0.3rem solid #e0e0e07c;
}
.SDetails p{
  color: #000;
  font-size: 0.8rem;
  font-weight: 400;
}
.imgOrder img{
  width: 110px;
  height: 110px;
  object-fit: contain;
}
.dot{
  background: #e0e0e0;
  border-radius: 100%;
  width: 11px;
  height: 11px;
}
.done{
  background: #26a541;
}
#oText{
  color: #000;
}
.line{
  width: 3px;
  height: 3.5rem;
  transform: translateX(125%);
  background: #e0e0e0;
}
.doneLine{
  background: #26a541;
}
.notDoneLine{
  background-color: rgba(243, 44, 13, 0.933);
}
.notDone{
  background-color: rgba(243, 44, 13, 0.933);
}
/*---------- end of main COntent ----------*/

/*---------- footer ----------*/

/*---------- end of footer ----------*/

/*---------- media query ----------*/
@media (max-width: 1472px) {
  .navigation {
    padding: 0 9.5%;
  }
}
@media (max-width: 1401px) {
  .navigation {
    padding: 0 6.5%;
  }
}
@media (max-width: 1305px) {
  .navigation {
    padding: 0 3.5%;
  }
}
@media (max-width: 1223px) {
  .navigation {
    padding: 0 20px;
  }
}
@media (max-width: 1179px) {
  .navigationnavbar ul li a {
    font-size: 12px;
  }
  .logo svg {
    width: 87.85px;
    height: 1.5rem;
  }
}
@media (max-width: 1158px) {
  .footerdescription {
    display: none;
  }
  footer {
    padding: 1.5rem 0 2rem 0;
  }
  .mediumScreen {
    display: block;
  }
  .subheading h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .descriptionOne svg:first {
    margin-bottom: 1.25rem;
  }
  .dateTime {
    border: none;
    font-size: 0.68rem;
  }
  .contact {
    font-size: 0.75rem;
  }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid var(--bs-border-color);
  }
  .largeScreenSocial {
    display: none;
  }
  .smallScreenSocial {
    display: block;
  }
  .mainContainer{
    width: 100%;
  }
  .cancelBtn{
    width: 5rem;
    height: 1.5625rem;
    border-radius: 0.25rem;
    font-size: 0.65rem;
  }
  .statusCircle{
    border-width: 3px;
  }
  .statusOrder{
    font-size: 0.7rem;
  }
  .lPrice{
    font-size: 0.85rem;
  }
}
@media (max-width: 1048px) {
  .navigationnavbar ul li {
    margin-left: 1rem;
  }
  .navigationnavbar ul li:last-child {
    margin-right: 1rem;
  }
  .tPrice p {
    font-size: 1rem;
    font-weight: 500;
  }
  .productDetails h2 {
    color: #000;
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.75rem;
  }
  .quandity div {
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    background-color: white;
    margin-bottom: 0.75rem;
  }
  .quandity div i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    object-fit: contain;
  }
  .quandity div:first-child,
  .quandity div:last-child {
    width: 24px;
    cursor: pointer;
    background-color: #eee;
  }
  #qty {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
  }
  .color {
    color: rgba(0, 0, 0, 0.4);
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .cName {
    text-transform: capitalize;
    color: #000;
    font-family: Inter;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2rem;
  }
  .price {
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: Ubuntu;
  }
  .price p:nth-child(1) {
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
  }
  .price p:nth-child(2) {
    color: #bdbdbd;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration-line: line-through;
  }
  .price p:nth-child(3) {
    color: #3cb77c;
    font-size: 0.8rem;
    width: max-content;
    font-weight: 500;
  }
  .deleteBtn {
    top: 14px;
    right: 14px;
  }
  .deleteBtn svg {
    width: 11px;
    height: 15px;
  }
  .checkOut button {
    width: 8rem;
    border: transparent;
    outline: transparent;
    color: #000;
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
    background-color: #0f0;
    padding: 0.8rem;
  }
  .checkOut {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: 1px solid #e0e0e0;
    margin-bottom: 2rem;
    padding: 0 3%;
  }
}
@media (max-width: 871px) {
  .itemImg {
    width: 120px;
  }
  .cartItems img{
    width: 76px;
    height: 76px;
    object-fit: contain;
  }
  .cartBody{
    min-height: 50vh;
  }
  .textOrder h2{
    font-size: 0.85rem;
  }
  .textOrder p{
    font-size: 0.68rem;
  }
  .textOrder span{
    font-size: 0.68rem;
  }
  .marginRes{
    margin-right: 1.5rem;
  }
}
@media (max-width: 771px) {
  .orderSummary {
    margin-left: 0;
    width: 100%;
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-bottom: 2rem;
  }
  .oneSection {
    width: 100%;
  }
  .cartHead {
    padding: 0.9rem 1.25rem;
  }
  .cartHead h2 {
    font-weight: 600;
    font-size: 17px;
  }
  .cartHead svg {
    width: 22px;
    height: 22px;
  }
  .quandity div i {
    font-size: x-small;
  }
  .productDetails h2 {
    font-size: 15px;
  }
  .price p:nth-child(1) {
    font-size: 15px;
  }
  .price p:nth-child(2) {
    font-size: 0.6rem;
  }
  .price p:nth-child(3) {
    font-size: 0.7rem;
  }
}
@media (max-width: 861px) {
  .navigationnavbar {
    display: none;
  }
  .mobilenavigation {
    display: block;
  }
  .mobilenavigationList {
    display: block;
  }
  .logo.active a {
    margin-left: 50px;
  }
}
@media (max-width: 600px) {
  .loginbox {
    width: 21rem;
  }
  .loginBtn {
    width: 100px;
    height: 42px;
  }
  .inputForm input {
    font-size: small;
  }
  .useroptions ul li:nth-child(2) {
    display: none;
  }
  .error p {
    margin-top: 10px;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
  }
  .inputForm a {
    color: rgba(0, 0, 255, 0.75);
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration-line: underline;
  }
  .registerText a {
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: underline;
  }
  .cartItems{
    flex-direction: column;
    gap: 2rem;
  }
  .prices{
    justify-content: space-between;
  }
}
@media (max-width: 481px) {
  .orderHeading {
    padding: 0.65rem;
  }
  .orderHeading h2 {
    font-size: 15px;
  }
  .orderContent {
    padding: 0.65rem;
  }
  .orderContent div {
    margin-bottom: 17px;
  }
  .tPrice {
    padding: 0.65rem;
  }
  .ship p:nth-child(2) {
    font-size: 0.8rem;
  }
  .checkOut button {
    width: 7rem;
    border: transparent;
    outline: transparent;
    color: #000;
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
    background-color: #0f0;
    padding: 0.6rem;
  }
}
@media (max-width: 368px){
  .cancelBtn {
    width: 4rem;
    height: 1.5625rem;
    border-radius: 0.25rem;
    font-size: 0.65rem;
  }
  .marginRes{
    margin-right: 0.5rem;
  }
}
@media (min-width: 1537px) {
  .catgoryDiv {
    height: 4em;
  }
}
/*---------- end of media query ----------*/
