  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Welcome to Asterisk, your premier destination for all things ecommerce! At Asterisk, we're committed to providing you with a seamless online shopping experience, offering a vast array of products from top brands at competitive prices. Our user-friendly interface makes browsing and purchasing a breeze, while our secure checkout process ensures your transactions are safe and protected. Whether you're searching for fashion essentials, tech gadgets, home decor, or gifts for your loved ones, Asterisk has you covered. With fast shipping and exceptional customer service, we strive to exceed your expectations with every order. Thank you for choosing Asterisk for all your online shopping needs.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/categories/men">Men</a></li>
            <li><a href="/categories/women">Women</a></li>
            <li><a href="/categories/kids">Kids</a></li>
            <li><a href="/categories/accessories">Accessories</a></li>
            <li><a href="/categories/Electronics">Electronics</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>  
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">ASTERISK</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>