<header>
  

    <nav>
      <div class="container-fluid">
        <div class="row navigation">
          <div
            class="col-12 d-flex align-items-center justify-content-between"
          >
            <div class="logo d-flex align-items-center m-0 p-0">
              <div class="mobilenavigation">
                <button class="hamburger">
                  <span class="d-block mt-0"></span>
                  <span class="d-block"></span>
                  <span class="d-block mb-0"></span>
                </button>
              </div>

              <a href="/">
                <h1 class="asterisk">ASTERISK</h1>
            </div>

            <div class="navigationnavbar">
              <ul class="d-flex list-unstyled m-0 p-0 align-items-center">
                <li>
                  <a href="/home"> Home </a>
                </li>
                <li>
                  <a href="/categories/men"> Men </a>
                </li>
                <li>
                  <a href="/categories/women"> Women </a>
                </li>
                <li>
                  <a href="/categories/kids"> Kids </a>
                </li>
                <li>
                  <a href="/categories/accessories"> Accessories </a>
                </li>
                <li>
                  <a href="/categories/Electronics">Electronics</a>
                </li>
              </ul>
            </div>

            <div class="mobilenavigationList">
              <h2>Shop By Category</h2>
              <ul class="m-0 list-unstyled">
                <li>
                  <a href="/category"> Earbuds </a>
                </li>
                <li>
                  <a href="/category"> Earphones </a>
                </li>
                <li>
                  <a href="/category"> Speakers </a>
                </li>
                <li>
                  <a href="/category"> Soundbars </a>
                </li>
                <li>
                  <a href="/category"> Smart Watch </a>
                </li>
              </ul>
            </div>

            <div class="useroptions d-flex">
              <ul class="m-0 p-0 d-flex align-items-center list-unstyled">
                <li>
                  <a href="/userAccount">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_12_13)">
                        <path
                          d="M20 19.1191C19.9999 18.4132 19.5801 17.7785 18.9305 17.5021L13.9481 15.3823V14.1903C14.4082 13.5115 14.6975 12.7081 14.7549 11.8423H15.3535C16.5381 11.8423 17.5019 10.8784 17.5019 9.6938V7.95507C17.5019 6.94327 16.7985 6.09319 15.8554 5.86644C15.8127 4.14111 15.4223 2.82991 14.6658 1.86555C13.6945 0.627599 12.1249 0 10.0001 0C7.87527 0 6.30559 0.627599 5.33436 1.86571C4.57767 2.82991 4.1875 4.14111 4.14477 5.86644C3.20147 6.09319 2.49819 6.94327 2.49819 7.95507V9.6938C2.49819 10.8784 3.46209 11.8423 4.64664 11.8423H5.24525C5.30262 12.7081 5.59193 13.5115 6.05199 14.1903V15.3823L1.06965 17.5021C0.420078 17.7785 0.000152589 18.4134 0.000152589 19.1193L0 19.4139C0 19.5694 0.061646 19.7185 0.171663 19.8283C0.281527 19.9382 0.430454 20 0.585942 20H19.4142C19.5697 20 19.7188 19.9382 19.8287 19.8283C19.9385 19.7183 20.0001 19.5693 20.0001 19.4139L20 19.1191ZM12.7769 15.7934C12.7773 15.8075 12.8101 17.2296 11.9701 18.1044C11.5089 18.5846 10.846 18.8279 10.0001 18.8279C9.1572 18.8279 8.496 18.5863 8.03507 18.1096C7.18493 17.2302 7.22293 15.8058 7.22327 15.7934C7.22353 15.7865 7.22373 15.7797 7.22373 15.7728C7.22373 15.7704 7.22387 15.7679 7.22387 15.7653V15.3952C8.00607 15.9579 8.96507 16.2897 10.0001 16.2897C11.0351 16.2897 11.9941 15.9577 12.7763 15.3952V15.7655C12.7763 15.7678 12.7765 15.7702 12.7765 15.7727C12.7765 15.7795 12.7766 15.7864 12.7769 15.7934ZM13.5957 7.62093C13.5949 7.63267 13.5939 7.6444 13.5939 7.65647V10.944L12.481 11.686C12.127 11.9221 11.7149 12.0469 11.2891 12.0469H10.2981C9.9746 12.0469 9.71213 12.3092 9.71213 12.6329C9.71213 12.9565 9.9746 13.2188 10.2981 13.2188H11.2891C11.9469 13.2188 12.584 13.0259 13.1312 12.6609L13.4782 12.4296C13.0758 13.9743 11.6689 15.1179 10.0001 15.1179C8.0184 15.1179 6.4063 13.5057 6.4063 11.5241V7.65647C6.4063 7.64427 6.40523 7.63253 6.40447 7.6206V6.81907C6.40523 6.80713 6.4063 6.7954 6.4063 6.7832C6.4063 5.77519 6.65029 5.10929 7.13153 4.80427C7.91553 4.30713 9.28673 4.76429 9.748 4.98203C9.90667 5.05772 10.0921 5.05757 10.2511 4.98249C10.7134 4.76444 12.0845 4.30729 12.8686 4.80427C13.3499 5.10929 13.5939 5.77519 13.5939 6.7832C13.5939 6.79527 13.5949 6.807 13.5957 6.81873V7.62093ZM16.3301 7.95507V9.6938C16.3301 10.2323 15.892 10.6704 15.3535 10.6704H14.7676V6.97853H15.3535C15.892 6.97853 16.3301 7.4166 16.3301 7.95507ZM10.0001 1.17189C13.103 1.17189 14.5602 2.59005 14.6794 5.75459C14.5155 4.85859 14.1183 4.20719 13.4921 3.81198C12.2797 3.04675 10.6269 3.56997 10.0001 3.81656C9.37327 3.56997 7.7204 3.04675 6.50807 3.81198C5.88185 4.20719 5.48466 4.85859 5.32078 5.75459C5.43995 2.59005 6.8972 1.17189 10.0001 1.17189ZM5.23259 10.6704H4.64664C4.10815 10.6704 3.67007 10.2323 3.67007 9.6938V7.95507C3.67007 7.4166 4.10815 6.97853 4.64664 6.97853H5.23259V10.6704ZM1.52849 18.5805L6.11913 16.6273C6.22197 17.2631 6.47741 18.1283 7.1036 18.8281H1.2494C1.3115 18.7196 1.40825 18.6316 1.52849 18.5805ZM12.8965 18.8281C13.5227 18.1283 13.7782 17.2631 13.881 16.6273L18.4717 18.5805C18.5919 18.6316 18.6885 18.7196 18.7507 18.8281H12.8965Z"
                          fill="white"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_12_13">
                          <rect width="20" height="20" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="/userOrders">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.7416 18.9583H6.24994C4.81661 18.9583 3.74162 18.575 3.07495 17.8167C2.40828 17.0583 2.14994 15.9583 2.32494 14.5333L3.07495 8.28332C3.29162 6.44166 3.75828 4.79166 7.00828 4.79166H13.0082C16.2499 4.79166 16.7166 6.44166 16.9416 8.28332L17.6916 14.5333C17.8582 15.9583 17.6082 17.0667 16.9416 17.8167C16.2499 18.575 15.1832 18.9583 13.7416 18.9583ZM6.99994 6.04166C4.59994 6.04166 4.48327 6.99165 4.30827 8.42499L3.55828 14.675C3.43328 15.7333 3.58327 16.5083 4.00827 16.9833C4.43327 17.4583 5.18327 17.7 6.24994 17.7H13.7416C14.8082 17.7 15.5582 17.4583 15.9832 16.9833C16.4082 16.5083 16.5582 15.7333 16.4332 14.675L15.6832 8.42499C15.5082 6.98331 15.3999 6.04166 12.9916 6.04166H6.99994Z"
                        fill="white"
                      />
                      <path
                        d="M13.3334 7.29166C12.9917 7.29166 12.7084 7.00832 12.7084 6.66666V3.74999C12.7084 2.84999 12.15 2.29166 11.25 2.29166H8.75002C7.85002 2.29166 7.29169 2.84999 7.29169 3.74999V6.66666C7.29169 7.00832 7.00835 7.29166 6.66669 7.29166C6.32502 7.29166 6.04169 7.00832 6.04169 6.66666V3.74999C6.04169 2.15832 7.15835 1.04166 8.75002 1.04166H11.25C12.8417 1.04166 13.9584 2.15832 13.9584 3.74999V6.66666C13.9584 7.00832 13.675 7.29166 13.3334 7.29166Z"
                        fill="white"
                      />
                      <path
                        d="M17.0084 14.8167H6.66669C6.32502 14.8167 6.04169 14.5333 6.04169 14.1917C6.04169 13.85 6.32502 13.5667 6.66669 13.5667H17.0084C17.35 13.5667 17.6334 13.85 17.6334 14.1917C17.6334 14.5333 17.35 14.8167 17.0084 14.8167Z"
                        fill="white"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="/wishlist">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.82031 18.2891L8.72266 18.1992L1.87891 11.8438C0.679687 10.7305 0 9.16798 0 7.53126V7.40235C0 4.65235 1.95312 2.29298 4.65625 1.77735C6.19531 1.48048 7.76953 1.83595 9.02344 2.71876C9.375 2.96876 9.70312 3.25782 10 3.58985C10.1641 3.40235 10.3398 3.23048 10.5273 3.07032C10.6719 2.94532 10.8203 2.82813 10.9766 2.71876C12.2305 1.83595 13.8047 1.48048 15.3438 1.77345C18.0469 2.28907 20 4.65235 20 7.40235V7.53126C20 9.16798 19.3203 10.7305 18.1211 11.8438L11.2773 18.1992L11.1797 18.2891C10.8594 18.5859 10.4375 18.7539 10 18.7539C9.5625 18.7539 9.14062 18.5899 8.82031 18.2891ZM9.33984 5.66407C9.32422 5.65235 9.3125 5.63673 9.30078 5.6211L8.60547 4.83985L8.60156 4.83595C7.69922 3.82423 6.33594 3.36329 5.00781 3.6172C3.1875 3.96485 1.875 5.55079 1.875 7.40235V7.53126C1.875 8.64454 2.33984 9.71095 3.15625 10.4688L10 16.8242L16.8438 10.4688C17.6602 9.71095 18.125 8.64454 18.125 7.53126V7.40235C18.125 5.5547 16.8125 3.96485 14.9961 3.6172C13.668 3.36329 12.3008 3.82813 11.4023 4.83595C11.4023 4.83595 11.4023 4.83595 11.3984 4.83985C11.3945 4.84376 11.3984 4.83985 11.3945 4.84376L10.6992 5.62501C10.6875 5.64063 10.6719 5.65235 10.6602 5.66798C10.4844 5.84376 10.2461 5.94141 10 5.94141C9.75391 5.94141 9.51562 5.84376 9.33984 5.66798V5.66407Z"
                        fill="white"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="/usersAddToCart">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.83331 18.3333C5.37498 18.3333 4.98262 18.1701 4.65623 17.8437C4.32984 17.5174 4.16665 17.125 4.16665 16.6667C4.16665 16.2083 4.32984 15.816 4.65623 15.4896C4.98262 15.1632 5.37498 15 5.83331 15C6.29165 15 6.68401 15.1632 7.0104 15.4896C7.33679 15.816 7.49998 16.2083 7.49998 16.6667C7.49998 17.125 7.33679 17.5174 7.0104 17.8437C6.68401 18.1701 6.29165 18.3333 5.83331 18.3333ZM14.1666 18.3333C13.7083 18.3333 13.316 18.1701 12.9896 17.8437C12.6632 17.5174 12.5 17.125 12.5 16.6667C12.5 16.2083 12.6632 15.816 12.9896 15.4896C13.316 15.1632 13.7083 15 14.1666 15C14.625 15 15.0173 15.1632 15.3437 15.4896C15.6701 15.816 15.8333 16.2083 15.8333 16.6667C15.8333 17.125 15.6701 17.5174 15.3437 17.8437C15.0173 18.1701 14.625 18.3333 14.1666 18.3333ZM5.12498 4.99999L7.12498 9.16666H12.9583L15.25 4.99999H5.12498ZM4.33331 3.33332H16.625C16.9444 3.33332 17.1875 3.47568 17.3541 3.76041C17.5208 4.04513 17.5278 4.33332 17.375 4.62499L14.4166 9.95832C14.2639 10.2361 14.059 10.4514 13.8021 10.6042C13.5451 10.7569 13.2639 10.8333 12.9583 10.8333H6.74998L5.83331 12.5H15.8333V14.1667H5.83331C5.20831 14.1667 4.73609 13.8924 4.41665 13.3437C4.0972 12.7951 4.08331 12.25 4.37498 11.7083L5.49998 9.66666L2.49998 3.33332H0.833313V1.66666H3.54165L4.33331 3.33332Z"
                        fill="white"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>