<header>
  

    <nav>
      <div class="container-fluid">
        <div class="row navigation">
          <div
            class="col-12 d-flex align-items-center justify-content-between"
          >
            <div class="logo d-flex align-items-center m-0 p-0">
              <div class="mobilenavigation">
                <button class="hamburger">
                  <span class="d-block mt-0"></span>
                  <span class="d-block"></span>
                  <span class="d-block mb-0"></span>
                </button>
              </div>

              <a href="/">
                <h1 class="asterisk">ASTERISK</h1>
            </div>

            <div class="navigationnavbar">
              <ul class="d-flex list-unstyled m-0 p-0 align-items-center">
                <li>
                  <a href="/home"> Home </a>
                </li>
                <li>
                  <a href="/categories/men"> Men </a>
                </li>
                <li>
                  <a href="/categories/women"> Women </a>
                </li>
                <li>
                  <a href="/categories/kids"> Kids </a>
                </li>
                <li>
                  <a href="/categories/accessories"> Accessories </a>
                </li>
                <li>
                  <a href="/categories/Electronics">Electronics</a>
                </li>
              </ul>
            </div>

            <div class="mobilenavigationList">
              <h2>Shop By Category</h2>
              <ul class="m-0 list-unstyled">
                <li>
                  <a href="/category/men"> Men </a>
                </li>
                <li>
                  <a href="/category/women"> Women </a>
                </li>
                <li>
                  <a href="/category/kids"> Kids </a>
                </li>
                <li>
                  <a href="/category/accessories"> Accessories </a>
                </li>
                <li>
                  <a href="/category/Electronics"> Electronics </a>
                </li>
              </ul>
            </div>

            <div class="useroptions d-flex">
              <ul class="m-0 p-0 d-flex align-items-center list-unstyled">
                <li>
                  <a href="/userAccount">
                    <i class="fa-solid fa-user" style="color: #000000;"></i>
                  </a>
                </li>
                <li>
                  <a href="/userOrders">
                    <i class="fa-brands fa-shopify" style="color: #000000;"></i>
                  </a>
                </li>
                <li>
                  <a href="/wishlist">
                    <i class="fa-solid fa-heart" style="color: #000000;"></i>
                  </a>
                </li>
                <li>
                  <a href="/usersAddToCart">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>