<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register an account</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <!-- Bootstrap css cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="./css/verifyOtp.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- end of Style css -->
</head>
<body>
    
    <!-- header -->
    <%- include('header') -%>
    <!-- end of header -->

    <!-- main content -->
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 m-0 loginsection d-flex align-items-center justify-content-center">
                        <div class="loginbox">
                            <div class="headingLogin d-inline-block">
                                <p>Register</p>
                            </div>
                            <!-- <div class="error p-0 d-inline-block">
                                <p><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Wrong OTP</p>
                            </div> -->
                            <div class="inputForm d-inline-block">
                                <form action="/login" method="post">
                                    <label class="d-block" for="otp">Please enter the OTP sent to: <br> <span class="email">example@gmail.com</span></label>
                                    <input class="d-block" type="number" name="otp"  required />
                                    <label class="timeStamp d-block"><span class="seconds">60</span> seconds remaining</label>
                                    <a class="text-decoration-none" href="/userRegisterEmailVerifyResend"><button class="resendbtn" type="button">Resend OTP</button></a>
                                    <input type="text" value="" hidden class="remainingTime" name="rTime">
                                    <div class="text-center m-0">
                                        <button class="loginBtn" type="submit">Verify</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- end of main content -->

    <!-- footer -->
    <%- include('footers') -%>
    <!-- end of footer -->
    <!-- custom js -->
    <script src="./js/verifyOtp.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--end of Bootstrap script file -->
</body>
</html>